#root {
  max-width: 1280px;

}
.Body{
  display:flex;
}
*{
  margin: 0;
 
}

.sc-gswNZR, h4{
  text-shadow: 1px 1px 3px #FF0000;
  font-size: 3rem;
  font-weight: 900;
  font-family: Roboto;
  color:white
}
div h4 {
  font-size:medium;
  margin-left:7rem;
}
.sc-gswNZR::after{
  content: ' |';
  animation: 1s blink step-end infinite;
  text-shadow: none;

}
.sc-gswNZR::before{
  content: '> ';
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
.index_editor__JoDSg{
  overflow-y: hidden !important;
border: 10px inset goldenrod;

}
.Terminals{
  display:flex;
  justify-content: center;
}
@media only screen and (max-width:1200px){
  .Body{
    flex-direction: column;
    align-items: center;
  }
  .Wrapper{
    width:90vw !important;
    height: 75vh !important;
    margin: 0 !important;
  }
}
.form-all{
  box-shadow: 3px 3px 4px #0d1c21;
}
a{
  color:white;
  text-decoration: none;
}